body{
    margin:0;padding:15px; font-family: sans-serif;
    font-size: 1.2em;
  }

.container{
    background: pink;display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding:8px;box-sizing:border-box;
    height: 200px;overflow:auto;
}

/* .item{
    width: 90%;
    height: 60px;
    margin:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#FFFFFF;
} */

img.angryImg{
    /* border-radius: 80%; */
    width: 100px;
    border-radius: 50%;
    background: rgb(238, 98, 98);
    margin:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#FFFFFF;
}

img.afraidImg{
    border-radius: 80%;
    background: lightblue;
    margin:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#FFFFFF;
}

img.sadImg{
    border-radius: 50%;
    background: #B8DDE0;
    margin:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#FFFFFF;
}

img.mehImg{
    border-radius: 80%;
    background: lightgray;
    margin:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#FFFFFF;
}

img.happyImg{
    border-radius: 80%;
    background: orange;
    margin:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#FFFFFF;
}
