<div class="container" id="items-container">
    <!-- <img class="angryImg" *ngFor="let image of imagelist" [src]="'assets/images/' + image" alt="Avatar"> -->
    <div class="item">
        <img class="angryImg" src="../assets/images/angry.png" alt="Avatar">
    </div>
    <div class="item">
        <img class="afraidImg" src="../assets/images/afraid.png" alt="Avatar">
    </div>
    <div class="item">
        <img class="sadImg" src="../assets/images/sad.png" alt="Avatar">
    </div>
    <div class="item">
        <img class="mehImg" src="../assets/images/neutral.png" alt="Avatar">
    </div>
    <div class="item">
        <img class="happyImg" src="../assets/images/happy.png" alt="Avatar">
    </div>
</div>