
/* Emotions */
.emotions {
    height: 150px;
}

@media (max-width: 1000px) {
    .emotions {
        height: 150px;
    }

    .emotions img {
        width: 100px;
        height: 100px;
    }
}

/* Content */
.content {
    margin: 50px 70px;
}
  
@media screen and (min-width: 600px) and (max-width: 1279px) {
    .content {
        margin: 20px 30px;
    }
}

@media screen and (max-width: 599px) {
    .content {
        margin: 8px 12px;
    }
}

/* images general */
img{
    border-radius: 50%;
    margin:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* assign different colors to each img */
img.angryImg{
    background: rgb(238, 98, 98);
}

img.afraidImg{
    background: lightblue;
}

img.sadImg{
    background: #B8DDE0;
}

img.mehImg{
    background: lightgray;
}

img.happyImg{
    background: orange;
}
  