<!-- <drag-scroll>
    <img drag-scroll-item src="../assets/images/angry.png" />
    <img drag-scroll-item src="../assets/images/afraid.png" />
    <img drag-scroll-item src="../assets/images/sad.png" />
    <img drag-scroll-item src="../assets/images/neutral.png" />
    <img drag-scroll-item src="../assets/images/happy.png" />
</drag-scroll> -->

<div class="content">
    <div class="border" [matBadge]="index">
      <drag-scroll class="emotions"
        (indexChanged)="onIndexChanged($event)"
        #nav>
        <img drag-scroll-item *ngFor="let image of imagelist" [src]="'../assets/images/' + image"/>
      </drag-scroll>
    </div>
  </div>
  