:root {
  --animation-color: #e06386;
  --animation-state: unset;
}

/* ul, container around emotions */
ul.emotions-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

/* Individual emotion */
li.emotion-container {
  text-align: center;
  overflow: hidden;
  flex-direction: column;
  width: 45%;
  height: 275px;
  margin-top: 6%;
}

/* Emotion with border radius directed to the left */
.emotion-container.radius-left {
  border-radius: 100px 10px 60px 10px;
}

/* Emotion with border radius directed to the right */
.emotion-container.radius-right {
  border-radius: 10px 100px 10px 60px;
}

/* .emotion-container.first {
    margin-top: 20px;
} */

/* Emotion image */
/* Container */
.img-container {
  height: 80%;
}

/* Image */
.img-container > img {
  /* width: 80%; */
  height: 80%;
  padding: 10%;
}

/* text */
li > .emotion-name-container > h3 {
  height: 54px;
  color: white;
  margin: 0;
  line-height: 54px;
}

.svg-header {
  position: absolute;
  top: 0px;
  left: 0px;
}

.svg-wrapper2 {
  margin: auto;
  bottom: 0;
  left: 0;
}

.svg-wrapper {
  margin-bottom: 20%;
}

@keyframes svg-animation {
  from {
    fill: #e06386;
  }
  to {
    fill: var(--animation-color);
  }
}

#svg-path-1 {
  animation-name: svg-animation;
  animation-iteration-count: infinite;
  animation-play-state: var(--animation-state);
}

#svg-path-2 {
  animation-name: svg-animation;
  animation-iteration-count: infinite;
  animation-play-state: var(--animation-state);
}
