								/* Description Large screen */
#desc {
	text-align: center;
	font-weight: bold;
	font-size: 1.7em;
	color: white;
	letter-spacing: 7px;
	margin-top: 6%;
}


								/* Wave */
svg.wave {
	position: absolute;
	left: 0;
	z-index: -1;
}

.light-wave {
	top: 5%;
}

.dark-wave {
	top: 0;
}


								/* Confirm button */
#confirm {
	border-radius: 40px 8px 45px 5px;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: auto 20px;
	padding: 0 30px;
}


									/* Media Queries */
@media only screen and (min-width: 768px) {
	ul.emotions-container {
		width: 60%;
		margin: 2% 20%;
	}
	
	.img-container > img {
		height: 100% 
	}
}

@media only screen and (min-width: 1000px) {
	ul.emotions-container {
		width: 50%;
		margin: 2% 25%;
	}
	
	.img-container > img {
		height: 100% 
	}
	
	#confirm {
		width: 15%;
	}
}