<form>
	<div class="imgcontainer">
	  <img src="../assets/profiles/Maya.png" alt="Avatar" class="avatar">
	</div>

    <div class="name">
        <h5>Maya O'Sullivian</h5>
    </div>
  
	<div class="container">
        <tr>
            <td><p class="label">Email Address:</p></td> 
            <td><p class="data">maya@gmail.com</p></td>
        </tr>

        <tr>
            <td><p class="label">Phone number:</p></td> 
            <td><p class="data">067876756</p></td>
        </tr>

        <br>
        
        <div class="tab">
            <button class="tablinks">Mood history</button>
        </div>

        <div class="row">

            <div class="column">
                <img src="../assets/images/neutral.png"  class="meh" alt="">
            </div>

            <div class="column">
                <img src="../assets/images/angry.png"  class="angry" alt="">
            </div>

        </div>

	</div>
  </form>