
								/* App Scroll */
::ng-deep app-dragscroll {
	display: block;
	white-space: nowrap;
	width: 60%;
	margin: 15% auto 2% auto;
}


								/* Content */
.content {
	margin: 50px 70px;
	display: flex;
}


								/* Emotions */
/* images general */
img {
	border-radius: 50%;
	margin: auto 30px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;    
	width:100px;
	height:100px;
}

/* assign different colors to each img */
img.active {
	width: 105px;
	height: 105px;
}


							/* Previous and Next buttons */
.right-button-container, .left-button-container {
	justify-content: center;
	align-self: center;
}

/* .previous {
	position: absolute;
	color:#e06386;
	top: 36%;
	right: 70%;
}

.next {
	color: #e06386;
	border-radius: 50%;
	position: absolute;
	top: 36%;
	left: 70%;
}

.round {
	border-radius: 50%;
} */

									/* Media Queries */
@media only screen and (max-width: 1100px) {
	::ng-deep app-dragscroll {
		width: 70%;
	}
}